body {
  margin: 0px;
  padding: 0px;
  --main-color: #FAE78A;
  --secondary-color: #6791D1;
  font-family: 'Kulim Park', sans-serif;
  background-color: var(--main-color);
}

.hero {
  width: 100%;
  height: 100%;
  font-size: 2.5em;
  color: black;
}

.header {
  grid-area: header;
}

.hero {
  place-items: center;
  grid-area: hero;
  background-color: var(--main-color);
}

.secondary-content {
  place-items: center;
  width: 100%;
  height: 100%;
  grid-area: secondary-content;
  background-image: url("assets/images/waves.jpg");
  background-size: cover;
}

.secondary-content div {
  display:flex;
  flex-direction: column;
  place-items: center;
  font-size: 1.5em;
}

.secondary-content h2, p, a {
  color: var(--main-color);
}

.content-column {
  grid-area: sidebar;
  background-color: var(--main-color);
}

#inner-content-column {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container > div {
  display: inline-grid;
  margin: 0;
  width: 94%;
  height: 94%;
  padding: 3%;
}

#container {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5fr 5fr;
  grid-template-areas: 
  "hero hero sidebar sidebar"
  "secondary-content secondary-content sidebar sidebar"
}

@media only all and (max-device-width: 600px) {
  #container {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 2fr;
    grid-template-areas: 
    "hero hero hero hero"
    "sidebar sidebar sidebar sidebar"
    "secondary-content secondary-content secondary-content secondary-content"
  }
}

.attributes {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  position: relative;
  /*perspective: 20px;*/
}

.attributes li {
  background: white;
  list-style: none;
  border-top: 3px solid var(--secondary-color);
  border-left: 3px solid var(--secondary-color);
  border-right: 3px solid var(--secondary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  justify-content: space-between;
  text-transform: capitalize;
}


.attributes li:last-child {
  border-bottom: 3px solid var(--secondary-color);
}

.attributes li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #FAE78A 0%,#6791D1 100%);
}

.attributes li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #6791D1 0%,#FAE78A 100%);
}
